
@import 'icons';

// VARIABLES //

$dark: #282942;
$light: white;
$color: #E84D7E;
$dark-color: darken($color, 5%);
$red: #f55;
$green: #63FF97;
$yellow: #FFB129;

// MIXINS //

@mixin clearfix {
    zoom:1;
    clear: both;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

// BASE //

* { box-sizing: border-box; }

html {
  background: $dark;
  font: 1.2em/1.6 "proxima-nova";

  @media (min-width: 35em) {
    font-size: 1.5em;
  }
}

body {
  margin: 0 auto;
  font-weight: 300;
  color: $light;
  overflow: auto;
  
  @include clearfix;
}

a {
  color: $color;
  text-decoration: none;

  &:hover { color: $dark-color; } 
}

p {
  margin: 0 0 1.4rem;

  &.intro {
    @include clearfix;
  }
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;

  @media (min-width: 28em) {
    float: left;
    max-width: 250px;
    max-height: 300px;
    margin: 0 1rem 0 0;
  }
}

h1, h2, h3 {
  font-weight: 300;
  text-rendering: optimizelegibility;
}

h1 {
  margin: 2rem 0 1rem;
  font: 2.2rem 'gooddog-new';
  letter-spacing: 1px;
  line-height: 1.2;

  @media (min-width: 35em) {
    font-size: 2.8rem;
  }
}

ul {
  padding: 0;
  margin: 0.7rem 0 2rem;
  border: 3px solid darken($dark, 3%);
  border-radius: 8px;
  overflow: hidden;

  li {
    padding: 0 0.4em;
    list-style: none;

    &:nth-child(odd) { background: darken($dark, 2%); }
    &:hover { background: lighten($dark, 3%); }

    i {
      padding: 0.34rem;
      float: right;
      font-size: 0.8rem;
    }
  }
}

// LAYOUT //

.wrapper {
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  max-width: 24rem;
  @include clearfix;
}

header {
  background: rgba(255,255,255,0.1);
 
  h1 {
    display: inline-block;
    margin: 0rem auto;
    padding: 0.2rem 0;
    font-family: 'gooddog-new';
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  a { 
    color: white;
    &:hover { color: lighten($dark, 60%); } 
  }

  .icon-list {
    position: absolute;
    top: 0.35rem;
    right: 0.35rem;
    font-size: 1.2rem;
  }
}

footer {
  padding: 2rem 0;
  font-size: 0.6rem;
  font-weight: 600;
  color: lighten($dark, 20%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.landing {
  margin: 2rem auto;

  header {
    margin-top: 2rem;
    background: none;
    text-align: center;
    
    h1 {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }
  }
} 

.reviews-container {
  @include clearfix;
  padding: 1rem 0;

  h2 {
    margin: 0 0 0.4rem;
  }
}
.review {
  background: rgba(255,255,255,0.1);
  margin-bottom: 1rem;
  padding: 0.4rem;
  h3 {
    font: 0.8rem/1.8 'proxima-nova';
    font-weight: 300;
    border-bottom: 2px solid $color;
    letter-spacing: 0;
    margin: -0.1rem 0 0.1rem;
  }
  p {
    font-size: 0.8rem;
    margin: 0;
  }
}

// FORMS & BUTTONS //

input[type=text], input[type=number], textarea {
  display: block;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0.3em 0.4em;

  font: 1rem 'proxima-nova';
  background: darken($dark, 2%);
  color: white;
  border: 3px solid darken($dark, 4%);
  outline: none;

  transition: all 0.2s;

  &::-webkit-input-placeholder { color: lighten($dark, 10%); }

  &:focus { border-color: $color; }
}

input[type=submit], button {
  float: right;
  font: 1rem 'proxima-nova';
  font-weight: 100;
  background: red;
  border: 0;
  padding: 0.4em 0.6em !important;
}

select {
  margin: 0 0 1rem;
  padding: 0.4em 0.6em;
  
  color: $dark;
  background: white;
  font-size: 0.8rem;
}

.button, input[type=submit], button {
  display: inline-block;
  padding: 0.1em 0.5em;
  float: right;

  background: $dark-color;
  border-radius: 5px;
  // border-bottom: 3px solid darken($dark-color, 20%);
  color: white;

  &:hover { 
    color: white;
    background: $color;
  }
}

button.delete-button {
  padding: 0 !important;
  height: 1.3rem;
  background: none;
  border: none;
  color: $color;
  cursor: pointer;

  &:hover {
    color: $dark-color;
  }
}

// ERRORS //

.form-error p { 
  color: $red;
}

.notice { color: $green; }
.alert { color: $yellow; }
.error { color: $red; }

// MISC //

.push {
  position: relative;
  top: 3px;
  margin-right: 3px;
}

.color { color: $color; }

.yellow { 
  color: $yellow;
  font-weight: bold;
  &:hover {
    color: lighten($yellow, 10%);
  }
}
