
// VARIABLES //

$dark: #282942;
$light: white;
$color: #E84D7E;
$dark-color: darken($color, 5%);
$red: #f55;

// MIXINS //

@mixin clearfix {
    zoom:1;
    clear: both;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

// BASE //

* { box-sizing: border-box; }

html {
  background: $dark;
  font: 28px/1.6 "proxima-nova";
}

body {
  margin: 0 auto;
  font-weight: 300;
  color: $light;
  overflow: auto;
  
  @include clearfix;
}

a {
  color: $color;
  text-decoration: none;

  &:hover { color: $dark-color; } 
}

p {
  margin: 0 0 1.4rem;

  &.intro {
    @include clearfix;
  }
}

img {
  float: left;
  margin-right: 1rem;
  max-height: 300px;
  max-width: 250px;
  border-radius: 8px;
}

h1 {
  margin: 2rem 0 1rem;
  font: 2.8rem 'gooddog-new';
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.2;
  text-rendering: optimizelegibility;
}

ul {
  padding: 0;
  margin: 0.7rem 0 2rem;
  border: 3px solid darken($dark, 3%);
  border-radius: 8px;
  overflow: hidden;

  li {
    padding: 0 0.4em;
    list-style: none;

    &:nth-child(odd) { background: darken($dark, 2%); }
    &:hover { background: lighten($dark, 3%); }
  }
}

// LAYOUT //

.wrapper {
  margin: 0 auto;
  position: relative;
  max-width: 22rem;
  @include clearfix;
}

header {
  background: lighten($dark, 10%);
 
  h1 {
    display: inline-block;
    margin: 0rem auto;
    padding: 0.2rem 0;
    font-family: 'gooddog-new';
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  a { 
    color: white;
    &:hover { color: lighten($dark, 60%); } 
  }

  i {
    position: absolute;
    top: 0.35rem;
    right: 0;
    font-size: 1.2rem;
  }
}

footer {
  padding: 2rem 0;
  font-size: 0.6rem;
  font-weight: 600;
  color: lighten($dark, 20%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.landing {
  margin: 2rem;

  header {
    margin-top: 2rem;
    background: none;
    // border-bottom: 5px dashed darken($dark, 3%);
    text-align: center;
    
    h1 {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }
  }
} 

// FORMS & BUTTONS //

input[type=text], input[type=number], textarea {
  display: block;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0.3em 0.4em;

  font: 1rem 'proxima-nova';
  background: darken($dark, 2%);
  color: white;
  border: 3px solid darken($dark, 4%);
  outline: none;

  transition: all 0.2s;

  &::-webkit-input-placeholder { color: lighten($dark, 10%); }

  &:focus { border-color: $color; }
}

input[type=submit], button {
  font: 1rem 'proxima-nova';
  font-weight: 100;
  background: red;
  border: 0;
  padding: 0.4em 0.6em !important;
}

select {
  margin: 0 0 1rem;
  padding: 0.4em 0.6em;
  
  color: $dark;
  background: white;
  font-size: 0.8rem;
}
  
.edit-link {
  float: right;
}

.button, input[type=submit], button {
  display: inline-block;
  padding: 0.1em 0.5em;
  float: right;

  background: $dark-color;
  border-radius: 5px;
  border-bottom: 3px solid darken($dark-color, 20%);
  color: white;

  &:hover { 
    color: white;
    background: $color;
  }
}

// ERRORS //

.form-error p { 
  color: $red;
}

.notice { color: green; }
.alert { color: yellow; }
.error { color: $red; }


// MISC //

.color { color: $color; }
