
$dark: #282942;
$light: white;
$color: #E84D7E;
$dark-color: darken($color, 5%);
$red: #f55;

* { box-sizing: border-box; }

html {
  background: $dark;
  font: 16px%/1.7 "proxima-nova";
}

body {
  max-width: 35rem;
  margin: 0 auto;
  padding: 2rem 0 8rem;
  font: 150%/1.7 "proxima-nova";
  color: $light;
}

a {
  color: $color;
  text-decoration: none;

  &:hover { color: $dark-color; } 
}

h1, h2, h3 {
  font-weight: normal;
}

h1 { font-size: 2.4rem; }
h2 { font-size: 2rem; }
h3 { 
  font-size: 1.2rem; 
  text-transform: uppercase; 
  letter-spacing: 0.2rem;
}

ul {
  padding: 0;
  margin: 0.7rem 0 2rem;
  border: 3px solid darken($dark, 3%);
  border-radius: 8px;
  overflow: hidden;

  li {
    padding: 0 0.4em;
    list-style: none;

    &:nth-child(odd) {
      background: darken($dark, 2%);
    }

    &:hover { background: darken($dark, 3%); }

    &:before,
    &:after {
        content:"";
        display:table;
    }

    &:after {
        clear:both;
    }

    & {
        *zoom:1;
    }
  }
}

hr {
  margin: 2rem 1rem;
  border: 0;
  border-bottom: 5px dashed darken($dark, 3%);}

input[type=text], input[type=number], textarea {
  display: block;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0.4em 0.5em;
  
  font-size: 1.4rem;
  background: darken($dark, 2%);
  color: white;
  border: 3px solid darken($dark, 4%);

  &::-webkit-input-placeholder { color: lighten($dark, 10%); }
}

input[type=submit] {
  width: auto;
  font-size: 1.4rem;
}

select {
  margin: 0 0 1rem;
  padding: 0.4em 0.6em;
  
  color: $dark;
  background: white;
  font-size: 1rem;
}

header {
  margin: 0 1rem 1rem;
  border-bottom: 5px dashed darken($dark, 3%);
  
  h1 {
    margin: 0rem auto;
    font-family: 'gooddog-new';
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
  }

  a { 
    color: white;
    &:hover { color: white; } 
  }
}

.edit-link {
  float: right;
}

.button {
  display: inline-block;
  padding: 0.1em 0.5em;

  background: $dark-color;
  border-radius: 5px;
  color: white;

  &:hover { 
    color: white;
    background: $color;
  }
}

.review {
  margin-bottom: 1rem;
  border: 3px solid darken($dark, 3%);
  border-radius: 8px;
  overflow: hidden;

  h3 { 
    margin: 0;
    padding: 0.2rem 0.6rem;
    background: darken($dark, 2%);
  }

  p {
    margin: 0;
    padding: 0.6rem;

    font-size: 1.2rem;
  }
}

.form-error p { 
  color: $red;
}

.notice { color: green; }
.alert { color: yellow; }
.error { color: $red; }
